.navtask {
  display: flex;
  width: 100vw;
  align-items: center;
  background-color: #1b1b1b;
  justify-content: space-evenly;
}

.profile * {
  margin-left: 12px;
}
.tbody {
  display: flex;
  width: 100vw;
  margin-top: 95px;
  justify-content: center;

}
.task_list {
  border: solid #212d6e 2px;
  border-radius: 5px;
  width: 17vw;
  padding: 20px;
  padding-top: 10px;
  margin-right: 15px;
  height: 70vh;
}
.task_detail {
  width: 27vw;
  border: solid #283474 2px;
  padding: 20px;
  color:white;
}
.task_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #283474 2px;
}
.task_title {
  color: white;
  font-size: 20px;
}
.task_box {
  margin-top: 10px;
  border: 2px solid #283474;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}
.task_box h4 {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.task_box p {
  color: #868585;
  margin-top: 4px;
  margin-bottom: 5px;
  font-size: 13px;
}
.task_detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #283474 2px;
}
.desc
{
  color: #868585;
  font-size: 13px;
}
.completed_status
{
  color: green;
  font-size: 13px;
  margin-top: 3px;
}
.task_detail_header h4 {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.date {
  color: #cfcdcd;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.fulldate {
  color: #868585;
  font-size: 10px;
  margin-top: 3px;
  text-align: end;
}

