.navtask {
  display: flex;
  width: 100vw;
  align-items: center;
  background-color: #1b1b1b;
  justify-content: space-around;
}
.tbody {
  display: flex;
  width: 100vw;
  margin-top: 95px;
  justify-content: center;
}
.task_list {
  border: solid #212d6e 2px;
  border-radius: 5px;
  width: 17vw;
  padding: 20px;
  padding-top: 10px;
  margin-right: 15px;
  height: 70vh;
}
.task_detail {
  width: 27vw;
  border: solid #283474 2px;
  padding: 20px;
  color: white;
}
.task_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #283474 2px;
}
.task_title {
  color: white;
  font-size: 20px;
}
.task_box {
  margin-top: 10px;
  border: 2px solid #283474;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.task_box:hover {
  background-color: #283474;
}
.task_box:hover .ed_del_btn {
  opacity: 1;
}
.task_box h4 {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.task_box p {
  color: #868585;
  margin-top: 4px;
  margin-bottom: 5px;
  font-size: 13px;
}
.task_detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #283474 2px;
}
.desc {
  color: #868585;
  font-size: 15px;
}
.completed_status {
  color: green;
  font-size: 13px;
  margin-top: 3px;
}
.task_detail_header h4 {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.date {
  color: #cfcdcd;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.fulldate {
  color: #868585;
  font-size: 10px;
  margin-top: 3px;
  text-align: end;
}
.ed_del_btn * {
  margin-right: 8px;
  cursor: pointer;
}
.ed_del_btn {
  opacity: 0;
}
.delete_btn {
  color: white;
}
.delete_btn:hover {
  color: red;
}
.edit_btn {
  color: white;
}
.edit_btn:hover {
  color: #343a8f;
}
.selected {
  background-color: #283474 !important;
  border-color: #283474 !important;
}
.complited {
  background-color: rgba(31, 150, 31, 0.267);
  border-color: rgba(31, 150, 31, 0.267);
}
.complited h4 {
  color: #c4c1c1;
}
.complited p {
  color: #535353;
}
.dfg {
  display: flex;
  align-items: center;
}

.input_textarea {
  width: 100%;
  background: #e0e0e0;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  resize: none;
}
.btn_mytask {
  position: relative;
  text-decoration: none;
  background: transparent;
  border: 2px solid #283474;
  padding: 17px 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.5s all;
}
.btn_mytask::after,
.btn_mytask::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: inherit;
  transition: 0.4s ease-out;
}

.btn_mytask::before {
  top: -8px;
  left: -8px;
  border-width: 2px 0 0 2px;
}
.btn_mytask::after {
  bottom: -8px;
  right: -8px;
  border-width: 0 2px 2px 0;
}
.btn_mytask:hover::before,
.btn_mytask:hover::after {
  width: calc(100% + 14px);
  height: calc(100% + 14px);
}
.btn_mytask:hover {
  background: #283474;
}
.input_date {
  padding: 10px;
  border: 2px solid #283474;
  border-radius: 5px;
  font-size: 14px;
  color: #1d2a74;
}
.tasks {
  overflow: hidden;
  overflow-y: scroll;
  height: 80%;
}
/* custom scrollbar */
